{% extends 'core/base.html' %}

{% block content %}

    <h1>Fabrica de masa para empanadas</h1>
    <h2>Categorías de productos</h2>


    <a href="#"><button>Inicio</button></a>
    <a href="{% url 'productos:categorias_productos' %}"><button>Categorías de Productos</button></a>
    <a href="{% url 'productos:categorias_productos' %}"><button>Productos</button></a>
    <a href="#"><button>Acerca de mi</button></a>
    <a href="#"><button>Login</button></a>

    <footer> Hecho en el año {{año}} </footer>
{% endblock content %}